.nav {
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    background-color: $marron;
    display: flex;
    padding: 1rem;
    color: $negro;
    justify-content: space-between;
    list-style: none;
    
    &nav__color {
        background-color: $marron;
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 50%;
        text-decoration: none;
    }

    &__img {
        height: 7vh;
        display: flex;
    }
}

hr {
    box-shadow: 1px 15px 14px 1px rgba(13,12,12,0.78);
-webkit-box-shadow: 1px 15px 14px 1px rgba(13,12,12,0.78);
-moz-box-shadow: 1px 15px 14px 1px rgba(13,12,12,0.78);
    height: 0.5rem !important;
    opacity: 1 !important;
    margin: 0 !important
}