.nav {
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    background-color: $marron;
    display: flex;
    padding: 1rem;
    color: $negro;
    justify-content: space-between;
    list-style: none;

    &nav__color {
        background-color: $marron;
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 50%;
        text-decoration: none;
    }

    &__img {
        height: 7vh;
        display: flex;
    }
}

.active {
    text-decoration: underline wavy var(--color-blanco);
    text-underline-offset: 9px;
}

.scale-up-center:hover {
    -webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
