$marron: #D8BA88;
$negro: black;
$blanco: white;
$box-shadow: box-shadow: 1px 15px 14px 1px rgba(13,12,12,0.78);
-webkit-box-shadow: 1px 15px 14px 1px rgba(13,12,12,0.78);
-moz-box-shadow: 1px 15px 14px 1px rgba(13,12,12,0.78);